body {
    padding-top: 60px;
    padding-bottom: 40px;
    color: #5a5a5a;
}

.zf-green {
    color: #68b604;
}

div.breadcrumb {
	background-color: #fff;
}

a.list_order {
    color: #000;
}

a.list_order:hover,
a.list_order:active,
a.list_order:visited {
    text-decoration: none;
    color: #000
}

span.ordered_by {
    color: #68b604;
    border-bottom:2px solid #68b604;
}

html,body {
    height:101%;
}

.badge-exam-score-100 {
	background-color: #ffd700 !important;
	color: #0028ff !important;
	border: 1px solid #eeb111 !important;
}

.brand {
	background-color: #68b604 !important;
	color: #1e1f1f!important;
	border-bottom: 1px solid #68b604;
}
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color: #8ae234;
}

