/* Colors
-------------------------------------------------- */

/*
primarys:

white: 
    rgba(255, 255, 255, 1.0)
    #fff

black: 
    rgba(0,0,0,1.0)
    #000
    
dark grey: 
    rgba(34,34,34,1.0)
    #222;

silver/grey:
    rgba(192, 192, 192, 1.0)
    #c0c0c0
    
red:
    rgba(255, 58, 0, 1.0)
    #ff3a00
    
green:
    rgba(137, 255, 0, 1.0)
    #89FF00
    
light green:
    rgba(0, 255, 186, 1.0)
    #00ffba
    
blue:
    rgba(0, 197, 255, 1.0)
    #00C5FF

yellow: 
    rgba(253, 255, 0, 1.0)
    #FDFF00
    
gold:
    rgba(255, 215, 0, 1.0)
    #ffd700
    
gold dark:
    rgba(238, 177, 17, 1.0)
    #eeb111

*/

div.container a.brand img {
    display: inline-block;
    margin-right: 12px;
}


/* Top level layout styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 60px;
    padding-bottom: 80px;
    margin-bottom:60px;
    background-color: #000;
    color: #c0c0c0c;
}

.phptc-content {
	color: #c0c0c0;
}

.phptc-content .page-header {
    border-color: rgba(192, 192, 192, 0.5);
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid #080808;
    background-color: #222;
}

.footer .container {
    padding-right: 15px;
    padding-left: 15px;
}

footer a,
footer a:visited {
    text-decoration: none;
    color: #9d9d9d;
}

footer a:hover,
footer a:active {
    text-decoration: none;
    color: #fff;
}

/* Alerts
-------------------------------------------------- */

.alert-danger {
	border-color: #ff3a00;
    background-color: rgba(255, 58, 0, 0.2);
    color: #ff3a00;
}

.alert-danger a.close {
    color: #ff3a00;
}

.alert-info {
    border-color: #00ffba;
    background-color: rgba(0, 255, 186, 0.2);
    color: #00ffba;
}

.alert-info a.close {
    color: #00ffba;
}

.alert-warning {
    border-color: #FDFF00;
    background-color: rgba(253, 255, 0, 0.2);
    color: #FDFF00;
}

.alert-warning a.close {
    color: #FDFF00;
}

.alert-success {
    border-color: #89FF00;
    background-color: rgba(137, 255, 0, 0.2);
    color: #89FF00;
}

.alert-success a.close {
    color: #89FF00;
}

/* Pagination
-------------------------------------------------- */

.phptc-content .paginationControl a,
.phptc-content .paginationControl span {
	color: rgba(192, 192, 192, 1.0);
	font-weight: bold;
	padding: 0px 8px 0px 8px;
}

.phptc-content .paginationControl span {
    color: rgba(192, 192, 192, 0.5);
}


/* Panel styles
-------------------------------------------------- */
.phptc-content .form-control:hover {
     background-color: rgba(255, 255, 255, 0.3);
}

.phptc-content .form-control:focus {
     background-color: rgba(255, 255, 255, 0.1);
}

.phptc-content .form-control {
    border: 1px solid #c0c0c0;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #c0c0c0;
}

/* Panel styles
-------------------------------------------------- */
.panel-dark {
	background-color: #222;
}

.container-dark {
    background-color: #222;
    border: 1px solid #c0c0c0;
    border-radius: 16px;
    color: #c0c0c0;
}

/* Generic animations
-------------------------------------------------- */
.animate-show {
   opacity: 1;
}
 
.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
   transition: 1s linear all;
   -webkit-transition: 1s linear all;
   
}
 
.animate-show.ng-hide {
   line-height: 0;
   opacity: 0;
   padding: 0;
} 

.alert-show {
   opacity: 1;
}
 
.alert-show.ng-hide-add, .alert-show.ng-hide-remove {
   transition: 0.3s linear all;
   -webkit-transition: 0.3s linear all;
   
}
 
.alert-show.ng-hide {
   line-height: 0;
   opacity: 0;
   padding: 0;
}  

.rotateRefresh {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/* Breadcrumb top
-------------------------------------------------- */
div.breadcrumb {
	background-color: #000;
	color: #c0c0c0;
	font-weight: bold;
}

div.breadcrumb a,
div.breadcrumb span {
    color: rgba(192, 192, 192, 0.5); 
}

/* Navbar top
-------------------------------------------------- */
.navbar-inverse {
    border-color: #000;
}

.navbar-nav > li > .dropdown-menu {
    background-color: rgba(192, 192, 192, 0.9);
}

.navbar-nav > li > .dropdown-menu a {
    color: rgba(255, 255, 255, 1.0) !important;
}

.navbar-nav > li > .dropdown-menu a:hover {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.navbar {}

.navbar-btn {
	
} 

.navbar-btn-signin {
    color: #fdff00;
    background-color: #222;
    border-color: #fdff00;
    width: 80px;
}

.navbar-btn-signin:hover {
    color: #222;
    background-color: #fdff00;
    border-color: #fdff00;
}

.navbar-btn-signout {
    color: #c0c0c0;
    background-color: #222;
    border-color: #c0c0c0;
    width: 80px;
}

.navbar-btn-signout:hover {
    color: #222;
    background-color: #c0c0c0;
    border-color: #c0c0c0;
}

.navbar-btn-signup {
    color: #89ff00;
    background-color: #222;
    border-color: #89ff00;
    width: 80px;
}

.navbar-btn-signup:hover {
    color: #222;
    background-color: #89ff00;
    border-color: #89ff00;
}

.navbar-btn-fb {
    color: #fff;
    background-color: #3b5998;
    border-color: #222;
    width: 90px;
}

.navbar-btn-fb:hover,
.navbar-btn-fb:active,
.navbar-btn-fb:focus {
    color: #fff !important;;
    background-color: #2d4373 !important;;
    border-color: #222 !important;;
}

.navbar-inverse .navbar-nav li a {
    color: #9d9d9d;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #222 !important;
}

.navbar-toggle {
    border: none !important;
}

.navbar-toggle .icon-bar {
    transition: all 0.2s;
}

.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    background-color: #89ff00 !important;
}

.navbar-toggle .middle-bar {
    opacity: 0;
    background-color: #fdff00 !important;
}

.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    background-color: #89ff00 !important;
}

.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}

.navbar-toggle.collapsed .navbar-logo {
    opacity: 0;
}

/* Remove dotted link boxes
-------------------------------------------------- */
a:hover, a:active, a:focus, a:link, a:visited {
  outline: 0;
  outline: 0 !important;
  outline-style:none;
}
button, object, embed { 
  outline: 0;
}

/* All Input elements */
input::-moz-focus-inner { 
 outline: 0; 
}

/* Entity lists
-------------------------------------------------- */
.entity-list {
	margin-top: 40px;
	margin-bottom: 40px;
}

.entity-list th,
.entity-list td {
    padding: 4px 16px 8px 8px;
}

.entity-list tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

span.ordered_by,
a.list_order,
a.list_order:visited,
a.list_order:active
{
    text-decoration: none !important;
    color: rgba(0, 197, 255, 0.7);
}

span.ordered_by,
a.list_order:hover {
	text-decoration: none !important;
    color: rgba(0, 197, 255, 1.0);
}

span.ordered_by {
    text-decoration: none !important;
    border-bottom:2px solid #00C5FF;
}



/* Buttons
-------------------------------------------------- */
.phptc-content .btn {
	margin-right: 4px;
	border-radius: 3px;
}

.phptc-content .btn-default {
    color: #c0c0c0;
    background-color: rgba(0,0,0,0);
    border: 1px solid #c0c0c0;
}

.phptc-content .btn-default:hover {
    color: #222;
    background-color: #c0c0c0;
}

.phptc-content .btn-info {
    color: #00ffba;
    background-color: rgba(0,0,0,0);
    border: 1px solid #00ffba;
}

.phptc-content .btn-info:hover {
    color: #222;
    background-color: #00ffba;
}

.phptc-content .btn-warning {
    color: #FDFF00;
    background-color: rgba(0,0,0,0);
    border: 1px solid #FDFF00;
}

.phptc-content .btn-warning:hover {
    color: #222;
    background-color: #FDFF00;
}

.phptc-content .btn-success {
    color: #89ff00;
    background-color: rgba(0,0,0,0);
    border: 1px solid #89ff00;
}

.phptc-content .btn-success:hover {
    color: #222;
    background-color: #89ff00;
}

.phptc-content .btn-primary {
    color: #00C5FF;
    background-color: rgba(0,0,0,0);
    border: 1px solid #00C5FF;
}

.phptc-content .btn-primary:hover {
    color: #222;
    background-color: #00C5FF;
}

.phptc-content .btn-danger {
    color: #ff3a00;
    background-color: rgba(0,0,0,0);
    border: 1px solid #ff3a00;
}

.phptc-content .btn-danger:hover {
    color: #222;
    background-color: #ff3a00;
}

/* Exams
-------------------------------------------------- */
.badge-exam-score-100 {
    background-color: #ffd700 !important;
    color: #0028ff !important;
    border: 1px solid #eeb111 !important;
}

/* Certifications
-------------------------------------------------- */
.cert-container {
	padding: 20px;
	text-align: center;
	margin-bottom: 30px;
}

.cert-container-title {
	height: 40px;
}

.cert-container img,
.cert-container p {
    margin: 10px;
}

/* Carousel
-------------------------------------------------- */
.carousel-container {
    margin: 10px 0 40px 0;
}

.item-container {
	position: relative;
	height: 200px;
}

.carousel-item {
    width: 100%;
    padding:0 80px;
    position: absolute;
    bottom:0;

}

.carousel-item h4 {
	font-size: 19px;
	font-weight: 400;
}


@media only screen and (max-width: 480px) {
	
	.carousel-item  {
	    padding:0 40px;
	    height: 200px;
	}
	
	.carousel-indicators li {
        bottom: 10px; 
    }

}

@media only screen and (max-width: 768px) {
    
    .carousel-item  {
        padding:0 220px;
        height: 160px;
    }
    
    .carousel-indicators li {
        bottom: 10px; 
    }
    
}


@media only screen and (max-width: 992px) {
    
    .carousel-item  {
        padding:0 50px;
        height: 200px;
    }
    
    .carousel-indicators li {
        position: relative;
        bottom: -40px; 
    }

}

@media only screen and (max-width: 1280px) {
    
    .carousel-indicators li {
        position: relative;
        bottom: -60px; 
    }

}

.carousel-item p {
    height: 100px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #00c5ff !important;
}

.carousel-indicators li {
    border: 1px solid #00c5ff !important; 
}

.carousel-indicators li.active {
    background-color: #00c5ff !important;
}

/* Projects app/widget
-------------------------------------------------- */
.panel.widget {
	border-color: #c0c0c0;
	background-color: #222;
	color: #c0c0c0;
	border-radius: 16px;
}

.widget .btn-default {
	color: #c0c0c0;
	background-color: #222;
	border: 1px solid #c0c0c0;
}

.widget .btn-default:hover {
    color: #222;
    background-color: #c0c0c0;
}

.widget .btn-success {
    color: #89ff00;
    background-color: #222;
    border: 1px solid #89ff00;
}

.widget .btn-success:hover {
    color: #222;
    background-color: #89ff00;
}

.widget .btn-primary {
    color: #00c5ff;
    background-color: #222;
    border: 1px solid #00c5ff;
}

.widget .btn-danger:hover {
    color: #222;
    background-color: #ff3a00;
}

.widget .btn-danger {
    color: #ff3a00;
    background-color: #222;
    border: 1px solid #ff3a00;
}

.widget .btn-primary:hover {
    color: #222;
    background-color: #00c5ff;
}

.panel.widget:hover {
    border-color: #00c5ff;
}

.panel.widget div.panel-heading{
    color: #c0c0c0;
    background-color: #222;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom: 0px;
}

.widget-row-data-header {
	background-color: #222;
	margin-bottom: 8px;
}

.widget-row-data-seperator {
	color: rgba(192, 192, 192, 0.5);
	margin: 4px;
	opacity: 0.2;
}

.widget-row-data:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 8px;
}

.widget-action-add:hover {
    color: rgba(137, 255, 0, 1.0);
}

.widget-action-add,
.widget-action-add:visited {
    color: rgba(137, 255, 0, 0.7);
}

.widget-action-refresh:hover {
    olor: rgba(253, 255, 0, 1.0);
}

.widget-action-refresh,
.widget-action-refresh:visited  {
    color: rgba(253, 255, 0, 0.7);
}

.widget-action-edit:hover {
    color: rgba(0, 197, 255, 1.0);
}

.widget-action-edit,
.widget-action-edit:visited {
    color: rgba(0, 197, 255, 0.7);
}

.widget-data-link:hover {
    color: rgba(192, 192, 192, 1.0);
}

.widget-data-link,
.widget-data-link:visited,
.widget-data-link:focus {
    color: rgba(255, 255, 255, 1.0);
}

.alert-projects-sm {
     padding: 4px;
     margin: 4px 0;
     white-space: nowrap;
     width:100%;
}

.widget .form-control:hover {
     background-color: rgba(255, 255, 255, 0.3);
}

.widget .form-control:focus {
     background-color: rgba(255, 255, 255, 0.1);
}

.widget .form-control {
	border: 1px solid #c0c0c0;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #c0c0c0;
}

