/* Colors
-------------------------------------------------- */
.zf-green {
    color: #68b604;
}

.neutral-darkest {
    color: #080808;
}

.neutral-dark {
    color: #222;
}

.neutral-base {
    color: #9d9d9d;
}

.neutral-lightest {
    color: #fff;
}

.zf-green {
    color: #68b604;
}

.gold-base {
    color: #ffd700;
}

.gold-darker {
    color: #eeb111;
}

.platinum {
	color: #e5e4e2;
}

/* Top level layout styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 60px;
    padding-bottom: 80px;
    margin-bottom:60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid #080808;
    background-color: #222;
}

.footer .container {
    padding-right: 15px;
    padding-left: 15px;
}

footer a,
footer a:visited {
    text-decoration: none;
    color: #9d9d9d;
}

footer a:hover,
footer a:active {
    text-decoration: none;
    color: #fff;
}

/* Panel styles
-------------------------------------------------- */
.panel-dark {
	background-color: #222;
}

/* Projects form styles
-------------------------------------------------- */
.alert-projects-sm {
     padding: 4px;
     margin: 4px 0;
     white-space: nowrap;
     width:100%;
}

/* Generic animations
-------------------------------------------------- */
.animate-show {
   opacity: 1;
}
 
.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
   transition: 1s linear all;
   -webkit-transition: 1s linear all;
   
}
 
.animate-show.ng-hide {
   line-height: 0;
   opacity: 0;
   padding: 0;
} 

.alert-show {
   opacity: 1;
}
 
.alert-show.ng-hide-add, .alert-show.ng-hide-remove {
   transition: 0.3s linear all;
   -webkit-transition: 0.3s linear all;
   
}
 
.alert-show.ng-hide {
   line-height: 0;
   opacity: 0;
   padding: 0;
}  

.rotateRefresh {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/* Breadcrumb top
-------------------------------------------------- */
div.breadcrumb {
	background-color: #fff;
}

/* Navbar top
-------------------------------------------------- */

.navbar-btn {
	
} 

.navbar-btn-signin {
    color: #fdff00;
    background-color: #222;
    border-color: #fdff00;
}

.navbar-btn-signin:hover {
    color: #222;
    background-color: #fdff00;
    border-color: #222;
}

.navbar-btn-signout {
    color: #c0c0c0;
    background-color: #222;
    border-color: #c0c0c0;
}

.navbar-btn-signout:hover {
    color: #222;
    background-color: #c0c0c0;
    border-color: #222;
}

.navbar-btn-signup {
    color: #89ff00;
    background-color: #222;
    border-color: #89ff00;
}

.navbar-btn-signup:hover {
    color: #222;
    background-color: #89ff00;
    border-color: #222;
}

.navbar-btn-fb {
    color: #fff;
    background-color: #3b5998;
    border-color: #222;
}

.navbar-btn-fb:hover,
.navbar-btn-fb:active,
.navbar-btn-fb:focus {
    color: #fff !important;;
    background-color: #2d4373 !important;;
    border-color: #222 !important;;
}

.navbar-inverse .navbar-nav li a {
    color: #9d9d9d;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #222 !important;
}

.navbar-toggle {
    border: none !important;
}

.navbar-toggle .icon-bar {
    transition: all 0.2s;
}

.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    background-color: #89ff00 !important;
}

.navbar-toggle .middle-bar {
    opacity: 0;
    background-color: #fdff00 !important;
}

.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    background-color: #89ff00 !important;
}

.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}

.navbar-toggle.collapsed .navbar-logo {
    opacity: 0;
}

/* Entity lists
-------------------------------------------------- */
span.ordered_by {
    color: #00ccff;
    border-bottom:2px solid #00ccff;
}

a.list_order {
    color: #333;
}

a.list_order:visited,
a.list_order:hover,
a.list_order:active
{
    text-decoration: none;
    color: #333;
}

/* Exams
-------------------------------------------------- */
.badge-exam-score-100 {
    background-color: #ffd700 !important;
    color: #0028ff !important;
    border: 1px solid #eeb111 !important;
}

/* Carousel
-------------------------------------------------- */
.carousel-container {
    margin: 10px 0 40px 0;
}

.item-container {
	position: relative;
	height: 200px;
}

.carousel-item {
    width: 100%;
    padding:0 80px;
    position: absolute;
    bottom:0;

}

.carousel-item h4 {
	font-size: 19px;
	font-weight: 400;
}


@media only screen and (max-width: 480px) {
	
	.carousel-item  {
	    padding:0 40px;
	    height: 200px;
	}
	
	.carousel-indicators li {
        bottom: 10px; 
    }

}

@media only screen and (max-width: 768px) {
    
    .carousel-item  {
        padding:0 220px;
        height: 160px;
    }
    
    .carousel-indicators li {
        bottom: 10px; 
    }
    
}


@media only screen and (max-width: 992px) {
    
    .carousel-item  {
        padding:0 50px;
        height: 200px;
    }
    
    .carousel-indicators li {
        position: relative;
        bottom: -40px; 
    }

}

@media only screen and (max-width: 1280px) {
    
    .carousel-indicators li {
        position: relative;
        bottom: -60px; 
    }

}

.carousel-item p {
    height: 100px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #00c5ff !important;
}

.carousel-indicators li {
    border: 1px solid #00c5ff !important; 
}

.carousel-indicators li.active {
    background-color: #00c5ff !important;
}

/* Misc experiments
-------------------------------------------------- */
.go-action {
	width: 300px;
    height: 300px;
    text-align: center;
    line-height: 300px;
    margin-top: 10px;
    
 }
 .center-text {
    width: 250px;
    height: 250px;
    border: 2px solid #00ccff;
    border-radius: 125px;
    vertical-align: middle;
    display: inline-block;
    line-height: 1.0;
    display: table-cell;
    padding-bottom: 25px;
 }

.hip {
    width: 400px;
    height: 400px;
    border-radius: 200px;
    border: 2px solid #222;
    border-color: rgba(0, 204, 255, 1.0) rgba(0, 204, 255, 1.0) rgba(0, 204, 255, 1.0) rgba(0, 204, 255, 1.0);
    vertical-align: middle;
    text-align: center;
}

