<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Application Controller Tests">
            <directory>./</directory>
            <file>ApplicationControllerTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>